<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ivan.dubbo.dao.WeixinAuthorizationTokenMapper">

	<resultMap id="weixinauthorizationtoken_result_map" type="org.ivan.entity.WeixinAuthorizationToken" >
		<id column="id" property="id" />
		<result column="app_id" property="appId"/>
		<result column="authorizer_appid" property="authorizerAppid"/>
		<result column="authorizer_access_token" property="authorizerAccessToken"/>
		<result column="expires_in" property="expiresIn"/>
		<result column="authorizer_refresh_token" property="authorizerRefreshToken"/>
		<result column="time" property="time"/>
	</resultMap>
	
	<!-- 分页limit -->
	<sql id="base_page_query_end">
		<![CDATA[
			LIMIT #{curPage},#{pageData}
		]]>
	</sql>
	
	<!-- 获取总数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from weixin_authorization_token  
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="appId!=null and appId!=''">
				and app_id like CONCAT('%',#{appId},'%')
			</if>
			<if test="authorizerAppid!=null and authorizerAppid!=''">
				and authorizer_appid like CONCAT('%',#{authorizerAppid},'%')
			</if>
			<if test="authorizerAccessToken!=null and authorizerAccessToken!=''">
				and authorizer_access_token like CONCAT('%',#{authorizerAccessToken},'%')
			</if>
			<if test="expiresIn!=null and expiresIn!=''">
				and expires_in = #{expiresIn}
			</if>
			<if test="authorizerRefreshToken!=null and authorizerRefreshToken!=''">
				and authorizer_refresh_token like CONCAT('%',#{authorizerRefreshToken},'%')
			</if>
			<if test="timeBegin!=null and timeBegin!=''">
				and time <![CDATA[ >= ]]> str_to_date(#{timeBegin},  '%Y-%m-%d') 
			</if>
			<if test="timeEnd!=null and timeEnd!=''">
				and time <![CDATA[ <= ]]> str_to_date(#{timeEnd},  '%Y-%m-%d') 
			</if>
		</where>
	</select>
	
	<!-- 新增对象 如果需要在新增的时候返回id 就加入这个: useGeneratedKeys="true" keyProperty="id"   -->
	<insert id="insertByEntity" parameterType="org.ivan.entity.WeixinAuthorizationToken" useGeneratedKeys="true" keyProperty="id">
		insert into weixin_authorization_token
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
				id,
			</if>
      		<if test="appId!=null ">
				app_id,
			</if>
      		<if test="authorizerAppid!=null ">
				authorizer_appid,
			</if>
      		<if test="authorizerAccessToken!=null ">
				authorizer_access_token,
			</if>
      		<if test="expiresIn!=null ">
				expires_in,
			</if>
      		<if test="authorizerRefreshToken!=null ">
				authorizer_refresh_token,
			</if>
      		<if test="time!=null ">
				time,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
      			#{id},
			</if>
      		<if test="appId!=null ">
      			#{appId},
			</if>
      		<if test="authorizerAppid!=null ">
      			#{authorizerAppid},
			</if>
      		<if test="authorizerAccessToken!=null ">
      			#{authorizerAccessToken},
			</if>
      		<if test="expiresIn!=null ">
      			#{expiresIn},
			</if>
      		<if test="authorizerRefreshToken!=null ">
      			#{authorizerRefreshToken},
			</if>
      		<if test="time!=null ">
      			#{time},
			</if>
    	</trim>
	</insert>
	
	<!-- 根据删除 -->
	<delete id="deleteByEntity" parameterType="org.ivan.entity.WeixinAuthorizationToken">
		delete from weixin_authorization_token
		<where>
      		<if test="id!=null ">
				and id=#{id}
			</if>
      		<if test="appId!=null ">
				and app_id=#{appId}
			</if>
      		<if test="authorizerAppid!=null ">
				and authorizer_appid=#{authorizerAppid}
			</if>
      		<if test="authorizerAccessToken!=null ">
				and authorizer_access_token=#{authorizerAccessToken}
			</if>
      		<if test="expiresIn!=null ">
				and expires_in=#{expiresIn}
			</if>
      		<if test="authorizerRefreshToken!=null ">
				and authorizer_refresh_token=#{authorizerRefreshToken}
			</if>
      		<if test="time!=null ">
				and time=#{time}
			</if>
		</where>
	</delete>

	<!-- 根据对象修改 -->
	<update id="updateByEntity" parameterType="org.ivan.entity.WeixinAuthorizationToken">
		update weixin_authorization_token
		<set>
			<if test="appId!=null ">
				app_id=#{appId},
			</if>
			<if test="authorizerAppid!=null ">
				authorizer_appid=#{authorizerAppid},
			</if>
			<if test="authorizerAccessToken!=null ">
				authorizer_access_token=#{authorizerAccessToken},
			</if>
			<if test="expiresIn!=null ">
				expires_in=#{expiresIn},
			</if>
			<if test="authorizerRefreshToken!=null ">
				authorizer_refresh_token=#{authorizerRefreshToken},
			</if>
			<if test="time!=null ">
				time=#{time},
			</if>
		</set>
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
		</where>
	</update>

	<!-- 根据对象查询单个 -->
	<select id="selectSingle" resultType="org.ivan.entity.WeixinAuthorizationToken" resultMap="weixinauthorizationtoken_result_map">
		select id,app_id,authorizer_appid,authorizer_access_token,expires_in,authorizer_refresh_token,time from weixin_authorization_token
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="appId!=null ">
				and app_id=#{appId}
			</if>
			<if test="authorizerAppid!=null ">
				and authorizer_appid=#{authorizerAppid}
			</if>
			<if test="authorizerAccessToken!=null ">
				and authorizer_access_token=#{authorizerAccessToken}
			</if>
			<if test="expiresIn!=null ">
				and expires_in=#{expiresIn}
			</if>
			<if test="authorizerRefreshToken!=null ">
				and authorizer_refresh_token=#{authorizerRefreshToken}
			</if>
			<if test="time!=null ">
				and time=#{time}
			</if>
		</where>
	</select>
	
	<!-- 根据对象查询列表-->
	<select id="selectByObject" resultMap="weixinauthorizationtoken_result_map" >
		select id,app_id,authorizer_appid,authorizer_access_token,expires_in,authorizer_refresh_token,time from weixin_authorization_token
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="appId!=null ">
				and app_id=#{appId}
			</if>
			<if test="authorizerAppid!=null ">
				and authorizer_appid=#{authorizerAppid}
			</if>
			<if test="authorizerAccessToken!=null ">
				and authorizer_access_token=#{authorizerAccessToken}
			</if>
			<if test="expiresIn!=null ">
				and expires_in=#{expiresIn}
			</if>
			<if test="authorizerRefreshToken!=null ">
				and authorizer_refresh_token=#{authorizerRefreshToken}
			</if>
			<if test="time!=null ">
				and time=#{time}
			</if>
		</where>
	</select>
	
	<!-- 分页 -->
	<select id="pageQueryByObject" resultMap="weixinauthorizationtoken_result_map" >
		
		SELECT id,app_id,authorizer_appid,authorizer_access_token,expires_in,authorizer_refresh_token,time FROM weixin_authorization_token 
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="appId!=null and appId!=''">
				and app_id like  CONCAT('%',#{appId},'%')
			</if>
			<if test="authorizerAppid!=null and authorizerAppid!=''">
				and authorizer_appid like  CONCAT('%',#{authorizerAppid},'%')
			</if>
			<if test="authorizerAccessToken!=null and authorizerAccessToken!=''">
				and authorizer_access_token like  CONCAT('%',#{authorizerAccessToken},'%')
			</if>
			<if test="expiresIn!=null and expiresIn!=''">
				and expires_in = #{expiresIn}
			</if>
			<if test="authorizerRefreshToken!=null and authorizerRefreshToken!=''">
				and authorizer_refresh_token like  CONCAT('%',#{authorizerRefreshToken},'%')
			</if>
			<if test="timeBegin!=null and timeBegin!=''">
				and time <![CDATA[ >= ]]> str_to_date(#{timeBegin},  '%Y-%m-%d') 
			</if>
			<if test="timeEnd!=null and timeEnd!=''">
				and time <![CDATA[ <= ]]> str_to_date(#{timeEnd},  '%Y-%m-%d') 
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
		<include refid="base_page_query_end"/>
	</select>
	
</mapper>